/proyecto grupal java/JavaApplication2/nbproject/private/
/proyecto grupal java/JavaApplication2/build/
/proyecto grupal java/Proyecto grafico grupal/nbproject/private/
/proyecto grupal java/Interfaz/nbproject/private/
/proyecto grupal java/Interfaz/build/
/proyecto grupal java/JavaApplication3/nbproject/private/
/proyecto grupal java/JavaApplication3/build/
/proyecto grupal java/Interfaz/dist/